.main-right {
    background-color: #E9E9E9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.chat-bg {
    width: 500px;
    background-color: aquamarine;
    margin: 0 auto;
    position: relative;
    top: 0;
    /* left: 25%; */
    transform: translateX(-50%);
    transform: translateY(-15%);
}

.chat-bg-tagLine {
    transform: translateY(-30%);
    text-align: center;
    font-weight: 400;
    /* margin-top: 20px; */
    font-size: 60px;
}

.chat-bg-tagLine-2{
    transform: translateY(-40%);
    text-align: center;
    font-weight: 400;
    /* margin-top: 10px; */
    font-size: 25px;
}
